nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	background-color: #8b8b8b;
	height: 50px;
	margin-bottom: 50px;
}

a {
	transition: all 0.2s ease 0s;
	font-size: 24px;
	font-weight: 400;
	&:hover {
		color: coral;
	}
	&.active {
		color: coral;
	}
}

div {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}
