.App {
  text-align: center;
}
.cards{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-around;
}

.cards div{
	flex: 0 1 25%;
	background-color: #377384;
	border-radius: 15px;
	padding: 20px;
}

