.todo {
	//height: 450px;
	line-height: 150%;
	background-color: #fff;
	color: #185c37;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-radius: 5px;
	gap: 15px;
	@media (max-width: 600px) {
		font-size: 16px;
		padding: 5px 10px;
	}
}

.todoText {
	flex: 1 1 auto;
	line-height: 130%;
	max-width: calc(100% - 31px);
	word-wrap: break-word;
	//overflow: hidden;
	//text-overflow: ellipsis;
	//white-space: nowrap;
}

.iconTask {
	min-width: 25px;
	@media (max-width: 600px) {
		display: none;
	}
}
