body {
	background-color: #185c37;
	color: #fff;
	user-select: none;
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	font-size: 22px;
	padding: 0 15px;
	padding-top: 30px;
	padding-bottom: 50px;
}

h1 {
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
}
